<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_LensSystem::menu"
             title="Lens System" module="Bss_LensSystem"
             sortOrder="11"
             resource="Magento_Backend::content"
        />
        <add id="Bss_LensSystem::options"
            title="Lens Options"
            module="Bss_LensSystem"
            sortOrder="10"
            parent="Bss_LensSystem::menu"
            action="lenssystem/options/index"
            resource="Bss_LensSystem::options"
        />
        <!-- END: new node -->
        <add id="Bss_LensSystem::steps"
             title="Lens Steps"
             module="Bss_LensSystem"
             sortOrder="10"
             parent="Bss_LensSystem::menu"
             action="lenssystem/steps"
             resource="Bss_LensSystem::steps"
        />
        <add id="Bss_LensSystem::condition"
             title="Lens Conditions"
             module="Bss_LensSystem"
             sortOrder="11"
             parent="Bss_LensSystem::menu"
             action="lenssystem/condition"
             resource="Bss_LensSystem::condition"
        />
        <add id="Bss_LensSystem::fittingheight"
             title="Lens Fitting Height"
             module="Bss_LensSystem"
             sortOrder="11"
             parent="Bss_LensSystem::menu"
             action="lenssystem/fittingheight"
             resource="Bss_LensSystem::fittingheight"
        />
        <add id="Bss_LensSystem::lenses"
             title="Lenses"
             module="Bss_LensSystem"
             sortOrder="11"
             parent="Bss_LensSystem::menu"
             action="lenssystem/lenses"
             resource="Bss_LensSystem::lenses"
        />
        <add id="Bss_LensSystem::rules"
             title="Lens Discount Rules"
             module="Bss_LensSystem"
             sortOrder="12"
             parent="Bss_LensSystem::menu"
             action="lenssystem/rules/index"
             resource="Bss_LensSystem::rules"
        />
    </menu>
</config>
